
.top1img{
  float: right;
  width: 10%;

}
.top2img{
  float: left;
  width: 10%;

}
.box2{
  margin-left:8% ;
  margin-right: 8%;
  background-color: pink;
  width: 84%;
  border: 2px solid black;
   height: 70%;
}
hr{
  clear: both;
}
.pinkbox1{
  /* float: left; */
  background-color: white;
  width:100%;

}
.pinkbox1 > figure {
  float: left;
  width: 30%;
}
 .pinkbox1 > figure > a >img {
   width: 100%;
}
.pinkbox1 > div {
  float: left;
  color: white;
  margin-top: 15px;
  width: 58%;
  margin-right: 5px;
}


.pinkbox2{
  background-color: white;
  width: 100%;
}
.pinkbox2 > div {
  float: left;
  color: white;
  margin-top: 15px;
  margin-left: 35px;
  width: 56%;
}
.pinkbox2 > figure{
  float: left;
  width: 30%
}
.pinkbox2 > figure > a > img {
  width: 100%;
}
table {
  /* border-collapse: collapse; */
  border: 2px solid black;
  /* border-spacing: 0; */
}
table > caption {
  font-size: 16px;
  text-align:left;

}

.menu {
margin-top: 60px;
/* background-color: white; */
 height: 70px;
width: 100;
text-align: center;

}

.menu > p {

  display: inline;
  width:24.9%;
  height: 70px;
  float: left;
  margin-top: 0px;
  /* text-align: center; */

}

.menu >p > a {

  height:23px;
  padding: 24px 20% ;
  display:inline-block;
  color: blue;
  width: 50%;
  font-size: 100%;






}


.menu >p > a:hover{
  color:white;
  background-color: black;
  width: 60%;

}

.box{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.box > div{
  float: left;
  width: 32%;
  margin: 5px;
  border: 2px solid black;
  margin-bottom: 24px;

}
.box > div > div{
  border: 2px solid lightblue;
  background-color: #FFFDD0;
}
.box > div > div > p{
  font-size: 20px;
  margin: 10%;
  margin-bottom: 11%;
}
.box > div > img {
  margin-bottom: -4px;
}
.box3{
  text-align: center;

}
.box3 > div{
  float: left;
  width: 32%;
  height: 30%;
  margin: 5px;
  border: 2px solid red;
  margin-bottom: 24px;


}
.box3 > div > div{
  border: 2px solid lightblue;
  background-color: #FFFDD0;
}
.box3 > div > div > p{
  font-size: 20px;
  margin: 15%;
  margin-bottom: 11%;
  margin-left: 18%;
  margin-right: 18%;
}
.box3 > div > img {
  margin-bottom: -4px;
  height:330px;
}

.contacttable > li{
list-style-type: none;
background-color: orange;
clear: both;
}

.contacttable > li > img {
  width: 80px;
  float: left;
  margin-bottom: 20px;

}
.contacttable > li > a{
  background-color: yellow;


}
.contacttable > li > div {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}
.contacttable > li > address{
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}
form{
    font-family: Courier;

}
form > input{
margin-left: 100px;
  float: left;
  width: 280px;
}
form > textarea{
  margin-top: 20px;
  margin-left: 100px;
}
.contacttable2{
  float: left;
  margin-left: 15%;
}
.contacttable2 > li{
list-style-type: none;
clear: both;
}

.contacttable2 > li > img {
  width: 50px;
  float: left;
  margin-bottom: 10px;

}
.contacttable2 > li > a{
  background-color: yellow;


}
.contacttable2 > li > div {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
.contacttable2 > li > address{
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
#button{
  background-color: black;
  width:50px;
  float: right;
  color: white;
  margin-right: 30%;
}
